@{
    ViewData["Title"] = "Home Page";
}

<div class="splash-title">
    <h1 class="display-4">BANDITS OF THE COAST</h1>
    <h3>
      @Model.Name The
      @if(Model.Stats.Strength > 9)
      {
        <span>Mighty</span>
      }
      else
      {
        <span>Weak</span>
      }
      @Model.Stats.Name
    </h3>
    <p>@Model.Stats.Strength</p>
    <p>@Model.Stats.CurrentHealth</p>
    <p>@Model.Stats.TotalHealth</p>

</div>

@* https://www.moddb.com/games/baldurs-gate-enhanced-edition/addons/super-ultimate-portrait-pack-zip *@
